.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image: url('https://www.jiomart.com/images/product/original/rvfz6jn45r/2-minutes-farm-story-book-for-kids-engaging-short-stories-large-size-book-product-images-orvfz6jn45r-p596001112-0-202212030056.jpg?im=Resize=(420,420)');
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url('src/assets/book4.png');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('src/assets/book3.png');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('src/assets/book2.png');
  }
  
  .banner.swiper-slide:nth-child(5n) {
    background-image: url('src/assets/book1.png');
  }
  
  .banner.swiper-slide:nth-child(6n) {
    background-image: url('src/assets/book6.png');
  }
  
 
  
  